html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    background-color: rgb(228, 236, 236);
    font-family: 'Montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.generalContainer, .sidebar, .sidebarButtonContainer, .sidebarButtons, .buttonContainer,
.dashboard, header, .headerTop, .headerBottom, .inputContainer, .headerTopOtherElements,
.greetingBox, .grettingBoxTextContainer, .headerButtons, .dataContainer,.asidesContainer,
.announcementsGeneralContainer, .announcementsContainer, .announcementContainer,
.profilesContainer, .profileContainer, .profileText, .projectsGridContainer,
.projectContainer, .projectButtons{
    display: flex;
}

.sidebar, .sidebarButtons, .dashboard, header, 
.grettingBoxTextContainer, .asidesContainer,
.announcementsGeneralContainer, .announcementsContainer, .announcementContainer,
.profilesContainer, .profileText,
.projectsGridContainer, .projectContainer {
    flex-direction: column;
}

.dataContainer{
    flex-direction: row-reverse;
}

.projectsGridContainer{
    width: 80%;
    flex-shrink: 0;
    gap: 10px;
}

h2{
    font-weight: 600;
    font-size: 1rem;
}

.projectsGrid{
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.sidebar{
    width: 600px;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(41, 41, 149);
    color: white;
    font-size: 1.5rem;
    gap: 1rem;
    box-shadow: 6px 0px 5px rgb(0, 0, 0,.6);
    position: relative;
}

.buttonContainer, .sidebarButtonContainer{
    gap: 1rem;
    align-items: center;
}

.menuIcon{
    font-size: 3rem;
}

.sidebarButtonContainer{
    font-weight: 600;
    position: fixed;
}

.buttonContainer:hover, .sidebarButtonContainer:hover{
    font-size: 1.55rem;
    padding: 2px;
    background-color: rgb(58, 58, 138.5);
    border-radius: 15px;
    cursor: pointer;
}

.sidebarButtons{
    margin-top: 60px;
    gap: 20px;
    position: fixed;
}

.dashboard{
    padding-left: 20px;
    padding-bottom: 20px;
}

header{
    background-color: white;
    margin-left: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 30px;
    box-shadow: 0px 6px 5px rgb(0, 0, 0,.3);
}

.headerTop, .headerBottom{
    justify-content: space-around;
}

.headerTop{
    padding-top: 30px;
}

.inputContainer{
    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    font-size: 2rem;
}

.searchInput{
    color: rgb(60, 59, 59);
    font-size: 1rem;
    outline: none;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(233, 228, 228);
    width: 80%;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.headerTopOtherElements{
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.headerTopOtherElements>ion-icon{
    font-size: 2rem;
}

.headerTopOtherElements>ion-icon:hover{
    border-radius: 60px;
    background-color: rgba(211, 202, 202, 0.3);
    padding: 2px;
    cursor: pointer;
}

.projectContainer{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    box-shadow: 6px 6px 5px rgb(0, 0, 0,.3);
}

.projectName{
    font-weight: 600;
}

button{
    appearance: none;
    background-color: transparent;
    border: none;
    color: rgb(41, 41, 149);
    font-size: 1.5rem;
}

button:hover{
    color: white;
    background-color: rgb(41, 41, 149);
    border-radius: 100px;
    cursor: pointer;
}

.projectButtons{
    justify-content: flex-end;
    gap: 10px;
}
